@font-face {
  font-family: 'Sora Light';
  src: url('../fonts/Sora-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: 'Sora Light';
  font-size: 12px;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.table-erco {
  max-height: 68vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

#inverter-data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#inverter-data-table th,
#inverter-data-table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
  font-family: 'Sora Light';
  font-size: 9px;
  word-wrap: break-word;
}

#inverter-data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

th {
  font-weight: bold;
}

td {
  font-size: 9px;
}

.pagination {
  margin-top: 10px;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.pagination a:hover {
  background-color: #0056b3;
}