@font-face {
  font-family: 'Sora Light';
  src: url('../fonts/Sora-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1{
  font-family: 'Sora Light';
  font-size: 9px; /* Reducir el tamaño de la fuente */
}
.table-container {
  overflow-x: auto; 
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Para un scroll más suave en iOS */
}

.table-erco {
  max-height: 65vh; 
  overflow-y: auto;
  margin-bottom: 20px;
}

#inverter-data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Hace que la tabla tenga un tamaño más compacto */
}


#inverter-data-table th,
#inverter-data-table td {
  padding: 5px; /* Reducción del padding */
  text-align: left;
  border: 1px solid #ddd;
  font-family: 'Sora Light';
  font-size: 9px; /* Reducir el tamaño de la fuente */
  word-wrap: break-word; /* Asegura que el texto largo no se desborde */
}

#inverter-data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

th {
  font-weight: bold;
}

td {
  font-size: 9px;
}

/* Si quieres hacer el scroll más visible, puedes añadirlo a la tabla */
.table-container {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
