{% load static %}

<div class="container">
    <div class="container-column form-wrapper-column">
        <div class="form-container-column">
            <form id="myForm" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="port_rtu">Seleccionar puerto serial</label>
                    <select id="port_rtu" name="port_rtu" required>
                         <option value="/dev/ttymxc0">Puerto serial
                                ttymxc0 IOT-GATE-iMX8 (Viejo)</option>
                            <option value="/dev/ttymxc1">Puerto serial
                                ttymxc1 IOT-GATE-iMX8 (Viejo)</option>
                            <option value="/dev/ttymxc1">Puerto serial
                                ttymxc1 IOT-GATE-iMX8 (Viejo)</option>
                            <option value="/dev/ttyRS485">Puerto serial
                                ttyRS485 IOT-DIN-IMX8PLUS (Nuevo)</option>
                            1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="baudrate_rtu">Seleccionar velocidad de
                        transmisión</label>
                    <select id="baudrate_rtu" name="baudrate_rtu" required>
                        <option value="4800">4800 bps</option>
                        <option value="9600" selected>9600 bps</option>
                        <option value="19200">19200 bps</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="attempts_rtu">Ingresar número máximo de
                        intentos</label>
                    <input type="text" id="attempts_rtu" name="attempts_rtu"
                        value="3" required>
                </div>

                <div class="form-group">
                    <label for="timeout_rtu">Ingresar tiempo de espera
                        reintentos (segundos)</label>
                    <input type="text" id="timeout_rtu" name="timeout_rtu"
                        value="1" required>
                </div>

                <div class="form-group">
                    <label for="slave_rtu">Ingresar id esclavo</label>
                    <input type="text" id="slave_rtu" name="slave_rtu" value="1"
                        required>
                </div>
                <div class="form-group">
                    <label for="modbus_function_rtu">Ingresar función
                        Modbus</label>
                    <select id="modbus_function_rtu" name="modbus_function_rtu"
                        required>
                        <option value="3">Holding register (3)</option>
                        <option value="4">Input register (4)</option>
                        <option value="6">Write register (6)</option>
                        <option value="10">Write multiple registers (10)</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="initial_address_rtu">Ingresar inicio de
                        registros</label>
                    <input type="text" id="initial_address_rtu"
                        name="initial_address_rtu" value="1" required>
                </div>

                <div class="form-group">
                    <label for="total_registers_rtu">Ingresar total
                        registros</label>
                    <input type="text" id="total_registers_rtu"
                        name="total_registers_rtu" value="1" required>
                </div>

                <div class="form-group button-container">
                    <button class="buttonClassTwo" type="button"
                        onclick="readDeviceRtu()">Leer</button>
                </div>
            </form>

        </div>

    </div>
</div>
