{% load static %}

<div class="container">
    <div class="container-column form-wrapper-column">
        <div class="form-container-column">
            <form id="tcpWriteForm" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="ip_device_tcp">Ingresar host</label>
                    <input type="text" id="ip_device_tcp" name="ip_device_tcp"
                        value="10.6.20.10" required>
                </div>

                <div class="form-group">
                    <label for="port_device_tcp">Ingresar puerto</label>
                    <input type="text" id="port_device_tcp"
                        name="port_device_tcp" value="502" required>
                </div>

                <div class="form-group">
                    <label for="attempts_tcp">Número máximo de intentos</label>
                    <input type="text" id="attempts_tcp" name="attempts_tcp"
                        value="3" required>
                </div>

                <div class="form-group">
                    <label for="timeout_tcp">Tiempo de espera por intento (segundos)</label>
                    <input type="text" id="timeout_tcp" name="timeout_tcp"
                        value="1" required>
                </div>

                <div class="form-group">
                    <label for="slave_tcp">ID esclavo</label>
                    <input type="text" id="slave_tcp" name="slave_tcp" value="1"
                        required>
                </div>

                <div class="form-group">
                    <label for="modbus_function_tcp">Función Modbus</label>
                    <select id="modbus_function_tcp" name="modbus_function_tcp" required>
                        <option value="6">Función 6 - Escribir un solo registro</option>
                        <option value="10">Función 10 - Escribir múltiples registros</option>
                    </select>
                </div>

             
                <div class="form-group button-container">
                    <button class="buttonClass" type="button" onclick="writeDeviceTcp()">Escribir</button>
                </div>
            </form>
        </div>
    </div>
</div>
