{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="day">Old days:</label>
            <input type="text" id="day" name="day" required>
        </div>

        <div class="form-group">
            <label for="awaitTime">Await to while:</label>
            <input type="text" id="awaitTime" name="awaitTime" required>
        </div>
        <button class="buttonClass" type="button" onclick="updateSettingDatabase()">Guardar</button>
    </form>
</div>


