{% load static %}

<div class="form-container form-wrapper">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="zone">Timezone:</label>
            <input type="text" id="zone" name="zone" required>
        </div>

        <div class="form-group">
            <label for="modbus">Sampling Modbus (min):</label>
            <input type="text" id="modbus" name="modbus" required>
        </div>

        <div class="form-group">
            <label for="start">Start hour (h):</label>
            <input type="text" id="start" name="start" required>
        </div>

        <div class="form-group">
            <label for="stop">Stop hour (h):</label>
            <input type="text" id="stop" name="stop" required>
        </div>

        <button class="buttonClass" type="button" onclick="updateMeasureModbus()">Save</button>
    </form>
</div>


