{% load static %}

<div class="container" style="overflow-y: visible !important; margin-top: 10px;">
</div>

<div class="container" id="content2">
    <div class="form-container">
        <link rel="stylesheet" href="{% static 'css/form_large.css' %}">
    
        <form id="checkPassword" method="post">
            {% csrf_token %}

        
            <div class="form-group">
                <label for="password">Password3:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm password3:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

          

            <div class="form-group">
                <button class="buttonClass" type="button" onclick="checkedPassWordLog()">Guardar</button>
            </div>

        </form>
    </div>
</div>
