{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="Server">Server type:</label>
            <select id="server" name="Server" required>
                <option value="telemetry">Telemetry</option>
                <option value="neu_plus">Neu Plus</option>
                <option value="all_services">All Services</option>
            </select>
        </div>

        <div class="form-group">
            <label for="neu_plus">Id device neu plus:</label>
            <input type="text" id="neu_plus" name="neu_plus" required>
        </div>

        <div class="form-group">
            <label for="telemetry">Identity id telemetry:</label>
            <input type="text" id="telemetry" name="telemetry" required>
        </div>

        <div class="form-group">
            <label for="mqtt">Sampling mqtt:</label>
            <input type="text" id="mqtt" name="mqtt" required>
        </div>

        <div class="form-group">
            <label for="storage">sampling storage plus:</label>
            <input type="text" id="storage" name="storage" required>
        </div>

        <button class="buttonClass" type="button" onclick="updateServerSelection()">Guardar</button>
    </form>
</div>


