{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="debug">Guardar log_debug</label>
            <select id="debug" name="Server" required>
                <option value="INFO">INFO</option>
                <option value="DEBUG">DEBUG</option>
            </select>
        </div>

        <div class="form-group">
            <label for="attempts">Guardar máximo número de reintentos</label>
            <input type="text" id="attempts" name="attempts" required>
        </div>

        <div class="form-group">
            <label for="timeout">Guardar tiempo de espera para reintento (segundos)</label>
            <input type="text" id="timeout" name="timeout" required>
        </div>
        <button class="buttonClass" type="button"
            onclick="updateSettingModbus()">Guardar</button>
    </form>
</div>
