{% load static %}

<div class="form-container">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <form id="deviceForm">
        {% csrf_token %}

        <h3>Select the device to modify:</h3>
        <div id="deviceList">
            {% for device in listDevices %}
                <button type="button" class="device-button" onclick="ModifyOption('{{ device }}')">
                    {{ device }}
                </button>
            {% endfor %}
        </div>

    </form>
</div>