{% load static %}

<div class="form-container-device">

    <form id="deviceForm" >
        {% csrf_token %}

        <div style="align-content: center;"><h3>Seleccionar el dispositivo a modificar</h3></div>
        <div id="deviceList" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 10px;">

            {% for device in listDevices %}
            <button type="button" class="device-button"
                onclick="ModifyOption('{{ device }}')">
                {{ device }}
            </button>
            {% endfor %}
        </div>

    </form>
</div>