{% load static %}

<div class="form-container">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <form id="deviceForm">
        {% csrf_token %}

        <h3>Select devices:</h3>
        <div id="deviceList" class="checkbox-group">
            {% for device in listDevices %}
                <div class="checkbox-item">
                    <input class="input_checkbox_one_choce" type="checkbox" id="{{ device }}" name="devices" value="{{ device }}"
                        {% if device in listSelectedDevices %}checked{% endif %}>
                    <label for="{{ device }}">{{ device }}</label>
                </div>
            {% endfor %}
        </div>

        <button class="buttonClass" type="button" onclick="saveChangesEnableDisableDevices()">Save</button>
    </form>
</div>

