{% load static %}

<div class="container-column form-wrapper-column">
    <div class="form-container-column">

        <form id="myForm" method="post">
            {% csrf_token %}

            <div class="form-columns">
                <!-- Primera columna -->
                <div class="form-column">
                    <div class="form-group">
                        <label for="nameRtu">Enter new device name  (e.g. Huawei_Inv):</label>
                        <input type="text" id="nameRtu" name="nameRtu" value="Huawei" required readonly>
                    </div>

                    <div class="form-group">
                        <label for="portRtu">Choose serial port:</label>
                        <select id="portRtu" name="portRtu" required>
                            <option value="/dev/ttymxc0">Serial port 0</option>
                            <option value="/dev/ttymxc1">Serial port 1</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="baudrateRtu">Choose baudrate:</label>
                        <select id="baudrateRtu" name="baudrateRtu" required>
                            <option value="4800">4800 bps</option>
                            <option value="9600">9600 bps</option>
                            <option value="19200">19200 bps</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="initialRtu">Enter initial slave ID:</label>
                        <input type="text" id="initialRtu" name="initialRtu" value="1" required>
                    </div>

                    <div class="form-group">
                        <label for="endRtu">Enter end slave ID:</label>
                        <input type="text" id="endRtu" name="endRtu" value="1" required>
                    </div>

                    <div class="form-group">
                        <label for="modbus_function_rtu">Choose modbus function:</label>
                        <select id="modbus_function_rtu" name="modbus_function_rtu" required>
                            <option value="3">Holding register</option>
                            <option value="4">Input register</option>
                            <option value="6">Write register</option>
                            <option value="10">Write multiple registers</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="initial_address_rtu">Enter initial address:</label>
                        <input type="text" id="initial_address_rtu" name="initial_address_rtu" value="3208" required>
                    </div>

                    <div class="form-group">
                        <label for="total_registers_rtu">Enter total number of registers:</label>
                        <input type="text" id="total_registers_rtu" name="total_registers_rtu" value="100" required>
                    </div>
                    
                    
                </div>

                <!-- Segunda columna -->
                <div class="form-column">
                    

                    

        

                    <div class="form-group">
                        <label for="modbus_map_folder">Choose modbus map folder::</label>
                        <select id="modbus_map_folder" name="modbus_map_folder" required onchange="handleSelectChange()">
                           
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modbus_map_json">Choose json:</label>
                        <select id="modbus_map_json" name="modbus_map_json" required>
                           
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modbus_mode_rtu">Choose modbus mode:</label>
                        <select id="modbus_mode_rtu" name="modbus_mode_rtu" required>
                            <option value="ModbusMode.READ">Read</option>
                            <option value="ModbusMode.WRITE">Write</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="device_type_rtu">Choose device type:</label>
                        <select id="device_type_rtu" name="device_type_rtu" required>
                            <option value="1">Inverter</option>
                            <option value="2">Weather station</option>
                            <option value="3">Pyranometer</option>
                            <option value="4">Ambient temperature sensor</option>
                            <option value="5">Module temperature</option>
                            <option value="6">Power analyzer telemetry</option>
                            <option value="7">Soiling sensor</option>
                            <option value="8">Humidity sensor</option>
                            <option value="9">Wind speed sensor</option>
                            <option value="10">Totalizer or main switch</option>
                            <option value="11">Bidirectional meter</option>
                            <option value="12">Monitoring unit</option>
                            <option value="13">Power analyzer neuplus</option>
                        
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="save_db_rtu">Choose if you want to save data in database:</label>
                        <select id="save_db_rtu" name="save_db_rtu" required>
                            <option value="True">Insert to DB</option>
                            <option value="False">Do not insert to DB</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="server_send_rtu">Choose if you want to send to server:</label>
                        <select id="server_send_rtu" name="server_send_rtu" required>
                            <option value="True">Send to server</option>
                            <option value="False">Not send to server</option>
                        </select>
                    </div>
                </div>

                <div class="form-column">
                    
                </div>
            </div>

            <div class="form-group button-container">
                <button class="buttonClass" type="button" onclick="updateDeviceRtu()">Guardar</button>
            </div>
        </form>
    </div>
</div>
