{% load static %}

<div class="form-container">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="Server">Server Type:</label>
            <select id="server" name="Server" required>
                <option value="telemetry">Telemetry</option>
                <option value="neu_plus">Neu Plus</option>
                <option value="all_services">All Services</option>
            </select>
        </div>

        <div class="form-group">
            <label for="neu_plus">Id device neu_plus:</label>
            <input type="text" id="neu_plus" name="neu_plus" required>
        </div>

        <div class="form-group">
            <label for="telemetry">Identity_id telemetry:</label>
            <input type="text" id="telemetry" name="telemetry" required>
        </div>

        <div class="form-group">
            <label for="mqtt">Sampling_mqtt:</label>
            <input type="text" id="mqtt" name="mqtt" required>
        </div>

        <div class="form-group">
            <label for="storage">sampling_storage_plus:</label>
            <input type="text" id="storage" name="storage" required>
        </div>

        <button class="buttonClass" type="submit">Guardar</button>
    </form>
</div>


