{% load static %}

<div class="container">
</div>

<div class="container form-wrapper">
    <div class="form-container">
        <link rel="stylesheet" href="{% static 'css/form_three_columns.css' %}">

        <form id="myForm" method="post">
            {% csrf_token %}

            <div class="form-columns">
                <!-- Primera columna -->
                <div class="form-column">
                    <div class="form-group">
                        <label for="nameTcp">Enter new device name (e.g. Huawei_Inv):</label>
                        <input type="text" id="nameTcp" name="nameTcp" value="Huawei" required>
                    </div>

                    <div class="form-group">
                        <label for="ip_device_tcp">Enter IP device:</label>
                        <input type="text" id="ip_device_tcp" name="ip_device_tcp" value="10.6.20.10" required>
                    </div>
                    <div class="form-group">
                        <label for="port_device_tcp">Enter port device:</label>
                        <input type="text" id="port_device_tcp" name="port_device_tcp" value="502" required>
                    </div>
                    <div class="form-group">
                        <label for="offset_tcp">Enter OFFSET if reading from a PLC:</label>
                        <input type="text" id="offset_tcp" name="offset_tcp" value="100" required>
                    </div>

                    <div class="form-group">
                        <label for="initial_tcp">Enter initial slave ID:</label>
                        <input type="text" id="initial_tcp" name="initial_tcp" value="1" required>
                    </div>

                    <div class="form-group">
                        <label for="end_tcp">Enter end slave ID:</label>
                        <input type="text" id="end_tcp" name="end_tcp" value="1" required>
                    </div>

                    <div class="form-group">
                        <label for="modbus_function_tcp">Choose modbus function:</label>
                        <select id="modbus_function_tcp" name="modbus_function_tcp" required>
                            <option value="3">Holding register</option>
                            <option value="4">Input register</option>
                            <option value="6">Write register</option>
                            <option value="10">Write multiple registers</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="initial_address_tcp">Enter initial address:</label>
                        <input type="text" id="initial_address_tcp" name="initial_address_tcp" value="3208" required>
                    </div>




                </div>

                <!-- Segunda columna -->
                <div class="form-column">





                    <div class="form-group">
                        <label for="total_registers_tcp">Enter total number of registers:</label>
                        <input type="text" id="total_registers_tcp" name="total_registers_tcp" value="100" required>
                    </div>
                    <div class="form-group">
                        <label for="modbus_map_folder">Choose modbus map folder::</label>
                        <select id="modbus_map_folder" name="modbus_map_folder" required
                            onchange="handleSelectChange()">

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modbus_map_json">Choose json:</label>
                        <select id="modbus_map_json" name="modbus_map_json" required>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modbus_mod_tcp">Choose modbus mode:</label>
                        <select id="modbus_mod_tcp" name="modbus_mod_tcp" required>
                            <option value="ModbusMode.READ">Read</option>
                            <option value="ModbusMode.WRITE">Write</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="device_type_tcp">Choose device type:</label>
                        <select id="device_type_tcp" name="device_type_tcp" required>
                            <option value="1">Inverter</option>
                            <option value="2">Weather station</option>
                            <option value="3">Pyranometer</option>
                            <option value="4">Ambient temperature sensor</option>
                            <option value="5">Module temperature</option>
                            <option value="6">Power analyzer telemetry</option>
                            <option value="7">Soiling sensor</option>
                            <option value="8">Humidity sensor</option>
                            <option value="9">Wind speed sensor</option>
                            <option value="10">Totalizer or main switch</option>
                            <option value="11">Bidirectional meter</option>
                            <option value="12">Monitoring unit</option>
                            <option value="13">Power analyzer neuplus</option>

                        </select>
                    </div>



                    <div class="form-group">
                        <label for="save_db_tcp">Choose if you want to save data in database:</label>
                        <select id="save_db_tcp" name="save_db_tcp" required>
                            <option value="True">Insert to DB</option>
                            <option value="False">Do not insert to DB</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="server_send_tcp">Choose if you want to send to server:</label>
                        <select id="server_send_tcp" name="server_send_tcp" required>
                            <option value="True">Send to server</option>
                            <option value="False">Not send to server</option>
                        </select>
                    </div>
                </div>

                <!-- Tercera columna -->
                <div class="form-column">

                </div>
            </div>

            <div class="form-group button-container">
                <button class="buttonClass" type="button" onclick="addDeviceTcp()">Guardar</button>
            </div>
        </form>
    </div>
</div>