<h1>Datos inversor</h1>
<div>
    <button onclick="loadDatabaseWeatherStation(1)"
        style="margin-left: 10px;">Actualizar</button>
    <button id="refreshButton" onclick="exportToExcelWeatherStation()">Descargar</button>
</div>
<div class="table-erco">
    <table id="inverter-data-table">
        <thead>
            <tr>
                <th>Fecha </th>
                <th>Id dispositivo</th>
                <th>Tipo dispositivo</th>
                <th>Irradiancia</th>
                <th>Temperatura ambiental</th>
                <th>Temperatura del panel</th>
                <th>Enviado</th>
                <th>Enviar al servidor</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos %}
            <tr>
                <td>{{ item.DATE }}</td>
                <td>{{ item.id_slave }}</td>
                <td>{{ item.device_type }}</td>
                <td>{{ item.IRRADIANCE }}</td>
                <td>{{ item.TEMPERATURE_ENVIRONMENT }}</td>
                <td>{{ item.TEMPERATURE_PANEL }}</td>
                <td>{{ item.sent }}</td>
                <td>{{ item.send_server }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- PAGINACIÓN -->
<div class="pagination">
    {% if datos.has_previous %}
    <a href="javascript:void(0)"
        onclick="loadDatabaseWeatherStation({{ datos.previous_page_number }})">Anterior</a>
    {% endif %}

    <span>Página {{ datos.number }} de {{ datos.paginator.num_pages }}</span>

    {% if datos.has_next %}
    <a href="javascript:void(0)"
        onclick="loadDatabaseWeatherStation({{ datos.next_page_number }})">Siguiente</a>
    {% endif %}

    <!-- Select para cambiar la cantidad de elementos por página -->
    <select id="perPageSelect" class="perPageSelect" onchange="loadDatabaseWeatherStation(1)">
        <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
        <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
        <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>

    </select>

</div>
