{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="ipTwo">Ingresar dirección IP puerto ethernet eth1 (e.g.,
                10.6.20.6/24):</label>
            <input type="text" id="ipTwo" name="ipTwo" required>
        </div>

        <div class="form-group">
            <label for="gatewayTwo">Ingresar gateway (dejar vacío si no es
                necesario . e.g.,10.6.20.1):</label>
            <input type="text" id="gatewayTwo" name="gatewayTwo">
        </div>
        <button class="buttonClass" type="button"
            onclick="interfaceEthernetTwo()">Guardar</button>
    </form>
</div>
