{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="actualPassword">Actual Password config_to:</label>
            <input type="password" id="actualPassword" name="actualPassword" required>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password config_to:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>        
        <div class="form-group">
            <label for="replyNewPassword">Reply New Password config_to:</label>
            <input type="password" id="replyNewPassword" name="replyNewPassword" required>
        </div>

       

        <button class="buttonClass" type="button" onclick="changePassword()">Save</button>
    </form>
</div>

