{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="ssid">Ingresar SSID red Wi-Fi</label>
            <input type="text" id="ssid" name="ssid" required>
        </div>

        <div class="form-group">
            <label for="password">Ingresar contraseña red Wi-fi</label>
            <input type="text" id="password" name="password">
        </div>

        <div class="form-group">
            <label for="name">Ingresar nombre red Wi-fi</label>
            <input type="text" id="name" name="name">
        </div>
        <button class="buttonClass" type="button"
            onclick="addWifi()">Guardar</button>
    </form>
</div>
