{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="device_type">Escoger dispositivo</label>
            <select id="device_type_wlan" name="device_type" required>
                <option value="IOT-GATE-iMX8">IOT-GATE-iMX8 (Viejo)</option>
                <option value="IOT-DIN-IMX8PLUS">IOT-DIN-IMX8PLUS (Nuevo)</option>
            </select>
        </div>
        <button class="buttonClass" type="button"
            onclick="Wlan()">Guardar</button>
    </form>
</div>
