{% load static %}

<div class="container" id="content2">

    <div class="container form-container-column">

        <form id="myForm" method="post">
            {% csrf_token %}
            <div class="form-columns">
                <div class="form-column">

                    <div class="form-group">
                        <label for="kindCompensation">Seleccionar un dispositivo</label>
                        <select id="kindCompensation" name="kindCompensation" required>
                            <option value="inverters">Inversores</option>
                            <option value="smartlogger"> Smart Logger</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="meter_ids">Ids medidores de energía</label>
                        <input type="text" id="meter_ids" name="meter_ids" required>
                    </div>
                    <div class="form-group">
                        <label for="device_id">Id dispositivo</label>
                        <input type="text" id="device_id" name="device_id" required>
                    </div>
                 
                    <div class="form-group">
                        <label for="high">Porcentaje de potencia reactiva alto</label>
                        <input type="text" id="high" name="high" required>
                    </div>
                    <div class="form-group">
                        <label for="low">Porcentaje de portencia reactiva baja</label>
                        <input type="text" id="low" name="low" required>
                    </div>
                    <div class="form-group">
                        <label for="lowBand">Límite inferior de banda reactiva de los inversores</label>
                        <input type="text" id="lowBand" name="lowBand" required>
                    </div>
                    <div class="form-group">
                        <label for="hightBand">Límite superior de banda reactiva de los inversores</label>
                        <input type="text" id="hightBand" name="hightBand" required>
                    </div>

                </div>

                <div class="form-column">

                    <div class="form-group">
                        <label for="reactive">Offset reactivo</label>
                        <input type="text" id="reactive" name="reactive" required>
                    </div>
                    <div class="form-group">
                        <label for="active">Offset activo</label>
                        <input type="text" id="active" name="active" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Factor de potencia mínima</label>
                        <input type="text" id="time" name="time" required>
                    </div>
                    <div class="form-group">
                        <label for="factor">Mu de inversores</label>
                        <input type="text" id="factor" name="factor" required>
                    </div>
                </div>

            </div>


            <button class="buttonClass" type="button" onclick="updateInformationCompensation()">Guardar</button>
        </form>
    </div>
</div>