{% load static %}

<div class="container" id="content2">

    <div class="container form-container-column">

        <form id="myForm" method="post">
            {% csrf_token %}
            <div class="form-columns">
                <div class="form-column">

                    <div class="form-group">
                        <label for="kindCompensation">Choose a kind of compensation:</label>
                        <select id="kindCompensation" name="kindCompensation" required>
                            <option value="inverters">FOR INVERTERS</option>
                            <option value="smartlogger">FOR SMARTLOGGER</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="meter_ids">Energy Meter IDs:</label>
                        <input type="text" id="meter_ids" name="meter_ids" required>
                    </div>
                    <div class="form-group">
                        <label for="device_id">Device ID(s):</label>
                        <input type="text" id="device_id" name="device_id" required>
                    </div>
                 
                    <div class="form-group">
                        <label for="high">Reactive Power Percentage High:</label>
                        <input type="text" id="high" name="high" required>
                    </div>
                    <div class="form-group">
                        <label for="low">Reactive Power Percentege low:</label>
                        <input type="text" id="low" name="low" required>
                    </div>
                    <div class="form-group">
                        <label for="lowBand">Reactive band low limit of inverters :</label>
                        <input type="text" id="lowBand" name="lowBand" required>
                    </div>
                    <div class="form-group">
                        <label for="hightBand">Reactive band hight limit of inverters:</label>
                        <input type="text" id="hightBand" name="hightBand" required>
                    </div>

                </div>

                <div class="form-column">

                    <div class="form-group">
                        <label for="reactive">Reactive Offset:</label>
                        <input type="text" id="reactive" name="reactive" required>
                    </div>
                    <div class="form-group">
                        <label for="active">Active Offset:</label>
                        <input type="text" id="active" name="active" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Power Factor Min:</label>
                        <input type="text" id="time" name="time" required>
                    </div>
                    <div class="form-group">
                        <label for="factor">Mu of inverters:</label>
                        <input type="text" id="factor" name="factor" required>
                    </div>
                </div>

            </div>


            <button class="buttonClass" type="button" onclick="updateInformationCompensation()">Save</button>
        </form>
    </div>
</div>