{% load static %}

<div class="container" style="overflow-y: visible !important;">
</div>

<div class="container" id="content2">
    <div class="form-container">
        <link rel="stylesheet" href="{% static 'css/form_large.css' %}">
    
        <form id="myForm" method="post">
            {% csrf_token %}


            <div class="form-group">
                <label for="host">Database Host:</label>
                <input type="text" id="host" name="host" required>
            </div>

            <div class="form-group">
                <label for="port">Database Port:</label>
                <input type="text" id="port" name="port" required>
            </div>

            <div class="form-group">
                <label for="name">Database Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="timeout">Timeout:</label>
                <input type="text" id="timeout" name="timeout" required>
            </div>

            <div class="form-group">
                <label for="date">Date Format:</label>
                <input type="text" id="date" name="date" required>
            </div>

            

            <div class="form-group">
                <button class="buttonClass" type="button" onclick="updateInformationDatabase()">Save</button>
            </div>

        </form>
    </div>
</div>
