{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="clientId">Id client</label>
            <input type="text" id="clientId" name="clientId" required>
        </div>

        <div class="form-group">
            <label for="clientCertificate">Dirección certificado del
                cliente</label>
            <input type="text" id="clientCertificate" name="clientCertificate"
                required>
        </div>
        <div class="form-group">
            <label for="private">Dirección clave privada del cliente</label>
            <input type="text" id="private" name="private" required>
        </div>
        <button class="buttonClass" type="button"
            onclick="updateAwsSettings()">Guardar</button>
    </form>
</div>
