{% load static %}

<div class="form-container">

    <form id="myForm" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="onomondo">Minima cantidad de señal de Onomondo</label>
            <input type="text" id="onomondo" name="onomondo" required>
        </div>

        <div class="form-group">
            <label for="minimum">Minima cantidad de señal wifi</label>
            <input type="text" id="minimum" name="minimum" required>
        </div>
        <button class="buttonClass" type="button"
            onclick="updateModemSignal()">Guardar</button>
    </form>
</div>
