<div class="container">

    <button class="button" onclick="loadContentHttp('modemChecker',this)">Verificar
        modem</button>
    <button class="button" onclick="loadContentHttp('signalChecker',this)">Verfificar
        señal</button>
    <button class="button" onclick="loadContentHttp('serverChecker',this)">Verfificar
        servidor</button>
    <button class="button" onclick="loadContentHttp('password',this)">Servicio Iot
        AWS</button>
</div>

<div class="container" id="content4"></div>