<div class="container" style="overflow-y: visible !important;">
    <button class="button" id="startServiceButton"
        onclick="startService()">Iniciar servicio</button>
    <button class="button" id="stopServiceButton" onclick="stopService()">Parar
        servicio</button>
    <button class="button" id="reboot" onclick="rebootErcoPulse()">Reiniciar
        ErcoPulse</button>
    <button class="button" id="modbusMeasure"
        onclick="loadContentMenu('modbusMeasure')">Medición Modbus</button>
    <button class="button" id="serverSelectionModbus"
        onclick="loadContentMenu('serverSelectionModbus')">Selección tipo de
        servicio</button>
    <button class="button" id="databaseSetting"
        onclick="loadContentMenu('databaseSetting')">Configuraciones bases de
        datos</button>
    <button class="button" id="operationModeModbus"
        onclick="loadContentMenu('operationModeModbus')">Modo operación del sistema
        </button>
    <button class="button" id="networkSettings"
        onclick="loadContentMenu('networkSettings')">Configuración interfaces de
        red</button>
    <!-- <button class="button" id="limitation_active"
        onclick="loadContentMenu('limitation')">Limitación activa</button>

    <button class="button" id="limitation_active"
        onclick="loadContentMenu('compensation')">Compensación reactiva</button>
         -->
    <button class="button" id="passwordLog"
        onclick="loadContentMenu('passwordLog')">Avanzado</button>


</div>
<di class="container" id="content2">

</div>