{% load static %}


<div class="container" style="overflow-y: visible !important;">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">

    <button class="button" onclick="loadContentMenu('modbusMeasure')">Measurement Modbus</button>
    <button class="button" onclick="loadContentMenu('serverSelection')">Server Type selection</button>
    <button class="button" onclick="loadContentMenu('databaseSetting')">Local database settings</button>
    <button class="button" onclick="loadContentMenu('operationModeModbus')">System modbus operation modes</button>
    <button class="button" onclick="loadContentMenu('networkSettings')">Network interface settings</button>
    <button class="button" onclick="loadContentMenu('passwordLog')">Advanced</button>
</div>
<di class="container" id="content2">

</div>

