{% load static %}
<div class="container">
    <button class="button" onclick="loadDevices('seeDevices')">See devices configured</button>
    <button class="button" onclick="loadContentModbus('newDevice')">Enter a new device</button>
    <button class="button" onclick="loadDevices('deleteDevice')">Delete a device</button>
    <button class="button" onclick="loadDevices('modifyDevice')">Modify a device</button>
    <button class="button" onclick="loadContentModbus('modbusSetting')">Setting</button>
    <button class="button" onclick="loadContentSingleDevice('form/read_rtu_tcp/readRtu')">MODBUS RTU</button>
    <button class="button" onclick="loadContentSingleDevice('form/read_rtu_tcp/readTcp')">MODBUS TCP</button>
</div>
<div class="container_log" id="content3"></div>

<div class="container_logs" style="display: none;">
    <link rel="stylesheet" href="{% static 'css/logs.css' %}">

    <div class="log-container" id="content4">

    </div>
</div>
