{% load static %}
<div class="container">
    <button class="button" onclick="loadDevices('seeDevices',this)">Ver dispositivos
        configurados</button>
    <button class="button" onclick="loadContentModbus('newDevice',this)">Ingresar
        nuevo dispositivo</button>
    <button class="button" onclick="loadDevices('deleteDevice',this)">Borrar
        dispositivo</button>
    <button class="button" onclick="loadDevices('modifyDevice',this)">Modificar
        dispositivo</button>
    <button class="button"
        onclick="loadContentModbus('modbusSetting',this)">Configuraciones</button>
    <button class="button"
        onclick="loadContentSingleDevice('form/read_rtu_tcp/readRtu',this)">Lectura modbus
        RTU</button>
    <button class="button"
        onclick="loadContentSingleDevice('form/read_rtu_tcp/readTcp',this)">Lectura modbus
        TCP/IP</button>

    <button class="button"
        onclick="loadContentSingleDevice('form/read_rtu_tcp/writeRtu',this)">Escritura modbus
        RTU</button>
    <button class="button"
        onclick="loadContentSingleDevice('form/read_rtu_tcp/writeTCP',this)">Escritura modbus
        TCP/IP</button>
</div>
<div class="container" id="content3" style="display: flex;"></div>

<div class="container_logs" style="display: none;">
    <link rel="stylesheet" href="{% static 'css/logs.css' %}">

    <div class="log-container" id="content4">

    </div>
</div>
