<div class="container">
    <button class="button" onclick="loadDevices('seeDevices')">See devices configured</button>
    <button class="button" onclick="loadContentModbus('newDevice')">Enter a new device</button>
    <button class="button" onclick="loadDevices('deleteDevice')">Delete a device</button>
    <button class="button" onclick="loadDevices('modifyDevice')">Modify a device</button>
    <button class="button" onclick="loadContentModbus('modbusSetting')">Setting</button>
</div>
<div class="container" id="content3"></div>