{% load static %}

<div class="container">


        <button class="button"  onclick="loadContentSingleDevice('form/read_rtu_tcp/readRtu')">Modbus RTU</button>
        <button class="button"  onclick="loadContentSingleDevice('form/read_rtu_tcp/readTcp')">Modbus TCP</button>
    
    
</div>
<div class="container" id="content3"></div>
<div class="container_logs" style="display: none;">
        <link rel="stylesheet" href="{% static 'css/logs.css' %}">

        <div class="log-container" id="content4">

        </div>
</div>
