{% load static %}

<div class="container">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">

    <button class="button" onclick="loadcontentMenu('jojo.html')">Add to Wi-Fi Network</button>
    <button class="button" onclick="loadcontentMenu('page2.html')">Enable/Disable Wi-fi antenna</button>
    <button class="button" onclick="loadcontentMenu('page3.html')">Configure Ethernet Interface (Wired connection 1)</button>
    <button class="button" onclick="loadcontentMenu('page4.html')">Configure Ethernet Interface (wired connection 2)</button>
    <button class="button" onclick="loadcontentMenu('page5.html')">Modem Information</button>
    <button class="button" onclick="loadcontentMenu('page3.html')">Clear log</button>
    <button class="button" onclick="loadcontentMenu('page4.html')">Generate JSON with Device Data</button>
    <button class="button" onclick="loadcontentMenu('changePassword')">Change Sistem Password</button>
</div>
<div class="container" id="content5"></div>
