<div class="container">

    <button class="button" onclick="loadContentSetting('wifi')">Add to Wi-Fi Network</button>
    <button class="button" onclick="antennaWifi()">Enable/Disable Wi-fi antenna</button>
    <button class="button" onclick="loadContentSetting('interfaceEthernet')">Configure Ethernet Interface (Wired
        connection 1)</button>
    <button class="button" onclick="loadContentSetting('interfaceEthernetTwo')">Configure Ethernet Interface (wired
        connection 2)</button>
    <button class="button" onclick="showModems()">Modem Information</button>
    <button class="button" onclick="deletelog()">Clear Log</button>
    <button class="button" onclick="downloadCollections()">Generate JSON With Device Data</button>
    <button class="button" onclick="loadContentSetting('newPassword')">Change Sistem Password</button>
    <button class="button" onclick="loadContentSetting('whiteListOptions')">Whitelist Options</button>
    <button class="button" onclick="deleteWhiteList()">Delete Whitelist</button>

</div>
<div class="container" id="content5"></div>