{% load static %}

<div class="container">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">

    <button class="button" onclick="loadContentSetting('jojo.html')">Add to Wi-Fi Network</button>
    <button class="button" onclick="loadContentSetting('page2.html')">Enable/Disable Wi-fi antenna</button>
    <button class="button" onclick="loadContentSetting('page3.html')">Configure Ethernet Interface (Wired connection 1)</button>
    <button class="button" onclick="loadContentSetting('page4.html')">Configure Ethernet Interface (wired connection 2)</button>
    <button class="button" onclick="showModems()">Modem Information</button>
    <button class="button" onclick="deletelog()">Clear log</button>
    <button class="button" onclick="downloadCollections()">Generate JSON with Device Data</button>
    <button class="button" onclick="loadContentSetting('newPassword')">Change Sistem Password</button>
</div>
<div class="container" id="content5"></div>
