<div class="container" style="overflow-y: visible !important;">
    <button class="button_inverter" id="startServiceButton"
        onclick="loadDatabaseInverters(1)">Inversores</button>
    <button class="button_weather_station" id="stopServiceButton"
        onclick="loadDatabaseWeatherStation(1)">Estación Meteorólogica</button>
    <button class="button_weather_station" id="stopServiceButton"
        onclick="loadDatabasePowerMeter(1)">Medidor de Potencia</button>
    <button class="button_weather_station" id="stopServiceButton"
        onclick="loadDatabaseFault(1)">Fallos</button>
</div>