<div class="container" style="overflow-y: visible !important;">
    <button class="button" id="startServiceButton"
        onclick="loadDatabase('inverter',1)">Inversores</button>
    <button class="button" id="stopServiceButton"
        onclick="loadDatabase('weather',1)">Estación Meteorólogica</button>
    <button class="button" id="stopServiceButton"
        onclick="loadDatabase('power',1)">Medidor de Potencia</button>
    <!-- <button class="button_weather_station" id="stopServiceButton"
        onclick="loadDatabase('fault',1)">Fallos</button> -->
</div>