<!DOCTYPE html>
<html lang="es">

    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Erco Pulse</title>
        <link rel="icon" type="image/svg+xml" sizes="64x64"
            href="{% static 'images/logo.svg' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

        <style>
        link[rel="icon"] {
            width: 64px;
            height: 64px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #content {
            margin-left: calc(10% + 100px);
            padding: 20px;
        }
    </style>
    </head>

    <body>
        <!-- Header -->
        {% include 'home/header.html' %}

        <!-- Sidebar -->
        {% include 'home/sidebar.html' %}

        <!-- Content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% include 'home/footer.html' %}

        {% load static %}

    </body>
    <script>
        const statusService = "{% url 'status_service' %}";

</script>
    <script>
        const token2 = localStorage.getItem('access_token');
        if (token2) {
        fetch('/verify-token/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ token: token2 })
        })
        .then(response => {
        if (response.ok) {
            // Token válido, redirigir a home
            window.location.href = "{% url 'home' %}";
        } else {
            // Token inválido, no hacer nada (o podrías mostrar un mensaje)
            window.location.href = "{% url 'index' %}";
        }
        })
        .catch(error => {
        console.error('Error al verificar el token:', error);
        });
  }
    checkServiceStatus();
</script>
</html>