{% load static %}

<div id="sidebar">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/menuButton.css' %}">

    <a href="#" onclick="loadContent('mainMenu')">
        <img src="{% static 'images/home.svg' %}" height="20" width="20" alt="Logo" />
        Main
    </a>
    <a href="#" onclick="loadContent('modbusMenu')">
        <img src="{% static 'images/message.svg' %}" height="20" width="20" alt="Logo" />
        Modbus
    </a>
    <a href="#" onclick="loadContent('form/limitation')">
        <img src="{% static 'images/limitation.svg' %}" height="20" width="20" alt="Logo" />
        Active Limitation
    </a>
    <a href="#" onclick="loadContent('form/compensation')">
        <img src="{% static 'images/compensation.svg' %}" height="20" width="20" alt="Logo" />
        Compensation Reactive
    </a>
    <a href="#" onclick="startService()">
        <img src="{% static 'images/start.svg' %}" height="20" width="20" alt="Logo" />
        Start Service FW
    </a>
    <a href="#" onclick="stopService()">
        <img src="{% static 'images/stop.svg' %}" height="20" width="20" alt="Logo" />
        Stop Service FW
    </a>
    <a href="#" onclick="loadContent('logs')">
        <img src="{% static 'images/log.svg' %}" height="20" width="20" alt="Logo" />
        View Logs
    </a>
    <a href="#" onclick="loadContent('View Data Devices')">
        <img src="{% static 'images/view.svg' %}" height="20" width="20" alt="Logo" />
        View Data Devices
    </a>
    <a href="#" onclick="deleteDatabase('Delete all records database')">
        <img src="{% static 'images/delete.svg' %}" height="20" width="20" alt="Logo" />
        Delete all records database
    </a>
    <a href="#" onclick="loadContent('form/password')">
        <img src="{% static 'images/database.svg' %}" height="20" width="20" alt="Logo" />
        Database *
    </a>
    <a href="#" onclick="loadContent('http')">
        <img src="{% static 'images/http.svg' %}" height="20" width="20" alt="Logo" />
        HTTP Data *
    </a>
    <a href="#" onclick="loadContent('setting')">
        <img src="{% static 'images/setting.svg' %}" height="30" width="30" alt="Logo" />
        Setting System
    </a>
    <a href="#" onclick="rebootErcoPulse()">
        <img src="{% static 'images/system.svg' %}" height="20" width="20" alt="Logo" />
        reboot
    </a>
</div>

<div id="content">

</div>
{% load static %}
<script>
    const getFormDataUrl = "{% url 'get_form_data' %}";
    const getFormDataUrlServerSelection = "{% url 'get_form_data_server' %}";
    const getFormDataUrlServerModes = "{% url 'get_form_data_modes' %}";
    const getFormDataUrlSettingDatabase = "{% url 'get_form_data_setting_database' %}";
    const getFormDataUrlSettingInterface = "{% url 'get_form_data_setting_interface' %}";
    const getFormDatasettingLog = "{% url 'get_form_data_setting_log' %}";
    const getFormDataModemChecker = "{% url 'get_form_data_modem_checker' %}";
    const getFormDataSignalChecker = "{% url 'get_form_data_signal_checker' %}";
    const getFormDataServerChecker = "{% url 'get_form_data_server_checker' %}";
    const getFormDatasettingModbus = "{% url 'get_form_data_setting_modbus' %}"
    let postCheckPasswordUrl = "{% url 'post_check_password' %}";
    let getFormDataBase = "{% url 'get_form_data_base' %}";
    const getInterfaceConnectionOne = "{% url 'connection_one' %}";
    const getInterfaceConnectionTwo = "{% url 'connection_two' %}";
    const postAntennaWifi = "{% url 'antenna_wifi' %}";
    const postAddWifi = "{% url 'add_wifi' %}";
    const changePasswordUrl = "{% url 'put_change_password' %}"
    const getFormDataLimitation = "{% url 'get_form_data_limitation' %}";
    const getFormDataCompensation = "{% url 'get_form_data_compensation' %}";
    const start = "{% url 'start_service' %}";
    const stop = "{% url 'stop_service' %}";
    const deleteLog = "{% url 'delete_log' %}";
    const fetchLog = "{% url 'get_logs' %}";
    const modem = "{% url 'modem' %}";
    const deleteDatabaseUrl = "{% url 'delete_database' %}";
    const listCollection = "{% url 'list_colections' %}";
    const reboot = "{% url 'reboot_erco_pulse' %}";
    const postModemChecker = "{% url 'reboot_erco_pulse' %}";
    const viewDevices ="{% url 'view_devices' %}";
    const viewAddDevices ="{% url 'view_devices_add' %}";
    
</script>
<script src="{% static 'script/menu/loadDataPage.js' %}"></script>
<script src="{% static 'script/modbus/modbus.js' %}"></script>
<script src="{% static 'script/menu/logs.js' %}"></script>
<script src="{% static 'script/menu/settingSystem.js' %}"></script>
<script src="{% static 'script/menu/sidebar.js' %}"></script>
<script src="{% static 'script/menu/password.js' %}"></script>
<script src="{% static 'script/menu/compensation_limitation.js' %}"></script>
<script src="{% static 'script/menu/service.js' %}"></script>
<script src="{% static 'script/menu/http.js' %}"></script>
<script src="{% static 'script/menu/database.js' %}"></script>



<script>
    const token = localStorage.getItem('access_token');

    if (!token) {
        alert('No se encontró el token. Redirigiendo al login...');
        window.location.href = "{% url 'index' %}";
    } else {
        console.log('Token encontrado:', token);
    }


    // Interceptar el evento de retroceder (usando window.onpopstate)
    window.onpopstate = function (event) {
        if (localStorage.getItem('access_token')) {
            // Si el token está presente, redirigir a home si intentan volver a login
            window.location.href = "{% url 'home' %}";
        }
    };

    // Opción para prevenir que el usuario use la flecha atrás
    window.history.pushState(null, null, window.location.href);
    window.onpopstate = function () {
        window.history.go(1);  // Este comando evita que el usuario regrese a la página anterior
    };






</script>
<script>

    checkServiceStatus()
    loadContent('mainMenu');

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(".input_checkbox");

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                if (this.checked) {
                    checkboxes.forEach(cb => {
                        if (cb !== this) {
                            cb.checked = false;
                        }
                    });
                }
            });
        });
    });
</script>